{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="referrer" content="origin">
  <title>Contact</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">


   
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">


<body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
        <a href="index.html" class="navbar-brand ms-lg-5">
            <img src="c.jpg" width="70px">
         </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="/index" class="nav-item nav-link">Home</a>
                <a href="/about" class="nav-item nav-link">About</a>
                <a href="/services" class="nav-item nav-link active">Service</a>
                <a href="/contact" class="nav-item nav-link">Contact</a>
             </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Services Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 600px;">
                <h5 class="text-primary text-uppercase" style="letter-spacing: 5px;">Services</h5>
                <h1 class="display-5 mb-0">Security and business related Services offered</h1>
                <p>We offer a wide range of services to all customers from all parts of the country, some of which include</p>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                    <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                        <div class="position-relative p-5">
                          <img src="img/camera.jpg" width="150px">
                        <img src="img/camers.jpg" width="150px">
                            <h5 class="text-primary mb-0">CCTV and surveillance</h5>
                            <p>CCTV installation for both homes & Office premises. We have solutions
                            that are both Digital and I.P Based on the clients needs. Our cameras
                            come with state of the Art technology that allows for analytics.
                            Our camera solutions allow for remote access.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                    <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                        <div class="position-relative p-5">
                            <img src="img/access.png" width="150px">
                            <img src="img/card.png" width="150px">
                            <h5 class="text-primary mb-0">ACCESS CONTROL</h5>
                            <p>We have both biometric access control system and card access control person, focuses on a relevant feature of that
                            data, compares that feature to a preset group of attributes in its database, and then
                            performs an action based on the accuracy.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                    <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                        <div class="position-relative p-5">
                            <img src="img/gate.jpg" width="150px">
                            <h5 class="text-primary mb-0">AUTOMATED GATES</h5>
                            <p>We have automated solutions for both swing and sliding gates.
                            Our gate motors come from South African based company
                            called Merlin who have grown a reputation in making some of
                            the best security devices.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                    <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                        <div class="position-relative p-5">
                            <img src="img/terminal.jpg" width="150px">
                            <img src="img/terminal (2).jpg" width="200px">
                            <h5 class="text-primary mb-0">POINT OF SALES SYSTEMS</h5>
                            <p>A point of sale (POS) is a place where a customer executes the
                            payment for goods or services and where sales taxes may
                            become payable. A POS transaction may occur in person or
                            online, with receipts generated either in print or electronically.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                    <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                        <div class="position-relative p-5">
                            <img src="img/web dev.jpg" width="250px">
                            <img src="img/WebDevelopmentImage.jpeg" width="250px">
                            <h5 class="text-primary mb-0">WEBSITE AND APP DEVELOPMENT</h5>
                            <p> In this service we develop mobile applications, host emails, and develop websites
                            for individual and organisation.
                            creating software applications that run on a mobile device and computer.
                            </p>
                
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                    <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                        <div class="position-relative p-5">
                            <img src="img/fence.jpg" width="150px">
                            <img src="img/fence.png" width="150px">
                            <h5 class="text-primary mb-0">ELECTRONIC AND RAZOR FENCES</h5>
                            <p>We install electric & Razor fences for both commercial and
                            residential premises. Oursystems come with a control panel and
                            an alarm system to increase efficiency</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                    <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                        <div class="position-relative p-5">
                            <img src="img/gps.jpg" width="150px">
                            <img src="img/gps (2).jpg" width="150px">
                            <h5 class="text-primary mb-0">GPS AND FUEL Monitoring</h5>
                            <p>Logistics management as part of supply chain management. It involves the flow of
                            information, materials handling, production, packaging, inventory, transportation,
                            warehousing, and often security.
                        </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                    <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                        <div class="position-relative p-5">
                            <img src="img/video conf.jpg" width="250px">
                            <h5 class="text-primary mb-0">VIDEO CONFRENCING AND NETWORK SETUP</h5>
                            <p>We setup comprehensive Local Area Networks for homes, offices, factories
                            e.t.c. Our LAN solutions are interactive and enable a client to have fulltime
                            connectivity with all peripheral devices on the network.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->
     <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>follow us on </h3>
              <p>
               our social media platforms<br>
                <br>
                
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/Twitter" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h3>Useful Links</h3>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/index">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services">Services</a></li>
             
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h3>Our Services</h3>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/services">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services">Graphic Design</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
      </div>
      <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">Group Django</a>
      </div>
    </div>
  </footer><!-- End Footer -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-secondary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>